# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
from ipywidgets.embed import embed_minimal_html

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
#Get the path to the file 
fpath = '../output_data/NathanAsh_cities.csv'
#read the CSV and print it to check 
city = pd.read_csv(fpath)
city

,Unnamed: 0,City,Latitude,Longitude,Max Tempurature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country
0,1,raudeberg,61.99,5.14,57.992,94.0,12,2.74,NO
1,3,ca mau,9.18,105.15,77.342,87.0,53,1.42,VN
2,5,nouadhibou,20.93,-17.03,73.400,78.0,0,8.70,MR
3,7,rikitea,-23.12,-134.97,70.790,76.0,0,5.92,PF
4,9,faanui,-16.48,-151.75,78.278,80.0,100,7.29,PF
...,...,...,...,...,...,...,...,...,...
534,631,camacha,33.08,-16.33,71.600,68.0,40,4.10,PT
535,632,tabou,4.42,-7.35,75.254,83.0,78,4.84,CI
536,633,sharjah,25.36,55.40,95.000,75.0,52,1.50,AE
537,634,arlit,18.74,7.39,88.448,44.0,85,6.56,NE
538,636,wahpeton,46.27,-96.61,80.996,57.0,1,4.10,US

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
#Storing the locations for the heat map
loc = city[['Latitude','Longitude']]
#converting the values in the DF 
hum = city['Humidity (%)'].astype(float)

In [23]:
#creating the map and setting up the heat points 
fig = gmaps.figure()
heatH = gmaps.heatmap_layer(loc,weights = hum, 
                           dissipating = False, max_intensity = 10,
                           point_radius = .5)
#laying the heat points on the map
fig.add_layer(heatH)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
# creating a copy of the DF
ideal = city.copy()

# eliminating the cities that fall outside of the ideal locations
ideal = ideal.loc[ideal['Max Tempurature (F)'].gt(80) == False]
ideal = ideal.loc[ideal['Max Tempurature (F)'].gt(70) == True]
ideal = ideal.loc[ideal['Wind Speed (mph)'].gt(10) == False]
ideal = ideal.loc[ideal['Cloudiness (%)'].gt(0) == False]
ideal = ideal.dropna(how = 'any')
ideal = ideal.drop(['Unnamed: 0'], axis =1)
ideal

,City,Latitude,Longitude,Max Tempurature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country
2,nouadhibou,20.93,-17.03,73.400,78.0,0,8.70,MR
3,rikitea,-23.12,-134.97,70.790,76.0,0,5.92,PF
19,gat,31.61,34.76,78.998,39.0,0,0.45,IL
41,aranjuez,40.03,-3.60,78.008,27.0,0,5.70,ES
55,nador,35.17,-2.93,78.800,39.0,0,5.70,MA
145,san julian,21.02,-102.17,74.498,48.0,0,2.19,MX
172,charagua,-19.80,-63.22,73.238,38.0,0,2.54,BO
213,celaya,20.52,-100.82,78.008,37.0,0,1.79,MX
249,naze,28.37,129.48,77.000,100.0,0,1.00,JP
274,abu samrah,35.30,37.18,71.114,52.0,0,4.33,SY
277,karatau,43.17,70.47,70.304,25.0,0,0.06,KZ
319,maniwaki,46.38,-75.97,77.774,53.0,0,2.60,CA
392,coruripe,-10.13,-36.18,73.166,88.0,0,3.34,BR
415,villamontes,-21.25,-63.50,71.006,33.0,0,1.97,BO
424,lagoa,39.05,-27.98,73.562,88.0,0,8.98,PT
428,tiznit,29.58,-9.50,71.528,39.0,0,0.66,MA
444,urumqi,43.80,87.60,71.600,40.0,0,5.00,CN
475,sorong,-0.88,131.25,77.306,86.0,0,3.58,ID
497,yabrud,33.97,36.66,73.400,69.0,0,7.20,SY
529,surt,31.21,16.59,79.358,68.0,0,2.12,LY

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
#For loop 
#create the parameters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# creatig a place for the hotel name on the DF
ideal["Hotel Name"] = ""

# for loop to look for the hotel in each city
for index, row in ideal.iterrows():
#     finding the lat and lon and putting it into the parameters
    lat = row['Latitude']
    lng = row['Longitude']
    params['location'] = f"{lat},{lng}"
#     Setting up the URL and linking the parameters to it
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    urlpar = requests.get(url,  params=params)
    urlpar = urlpar.json()
#     trying to add the hotel name if possible and adding to the DF.
#          prints if the try is succesful or if it fails
    try:
        ideal.loc[index, 'Hotel Name'] = urlpar['results'][0]['name']
        print(f'Hotel in {row[0]} found')
        
    except:
        print(f'Hotel in {row[0]} not found')
        
ideal

Hotel in nouadhibou found
Hotel in rikitea found
Hotel in gat found
Hotel in aranjuez found
Hotel in nador found
Hotel in san julian found
Hotel in charagua found
Hotel in celaya found
Hotel in naze found
Hotel in abu samrah not found
Hotel in karatau found
Hotel in maniwaki found
Hotel in coruripe found
Hotel in villamontes found
Hotel in lagoa found
Hotel in tiznit not found
Hotel in urumqi found
Hotel in sorong found
Hotel in yabrud found
Hotel in surt found

,City,Latitude,Longitude,Max Tempurature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Hotel Name
2,nouadhibou,20.93,-17.03,73.400,78.0,0,8.70,MR,El Medina
3,rikitea,-23.12,-134.97,70.790,76.0,0,5.92,PF,Pension Maro'i
19,gat,31.61,34.76,78.998,39.0,0,0.45,IL,רגע בנחת
41,aranjuez,40.03,-3.60,78.008,27.0,0,5.70,ES,Occidental Aranjuez
55,nador,35.17,-2.93,78.800,39.0,0,5.70,MA,Hôtel La Giralda
145,san julian,21.02,-102.17,74.498,48.0,0,2.19,MX,La Nueva España
172,charagua,-19.80,-63.22,73.238,38.0,0,2.54,BO,Residencial Luismar
213,celaya,20.52,-100.82,78.008,37.0,0,1.79,MX,Wyndham Garden Celaya
249,naze,28.37,129.48,77.000,100.0,0,1.00,JP,奄美ポートタワーホテル
274,abu samrah,35.30,37.18,71.114,52.0,0,4.33,SY,
277,karatau,43.17,70.47,70.304,25.0,0,0.06,KZ,Gor.bol'nitsa
319,maniwaki,46.38,-75.97,77.774,53.0,0,2.60,CA,Centre Chateau Logue
392,coruripe,-10.13,-36.18,73.166,88.0,0,3.34,BR,Pousada e Hotel Litoral Sul
415,villamontes,-21.25,-63.50,71.006,33.0,0,1.97,BO,Hotel Raldes
424,lagoa,39.05,-27.98,73.562,88.0,0,8.98,PT,Casa Das Faias
428,tiznit,29.58,-9.50,71.528,39.0,0,0.66,MA,
444,urumqi,43.80,87.60,71.600,40.0,0,5.00,CN,Hua Ling Grand Hotel Urumqi
475,sorong,-0.88,131.25,77.306,86.0,0,3.58,ID,The Waigo Hotel
497,yabrud,33.97,36.66,73.400,69.0,0,7.20,SY,صالون مها حيدر - Salon Maha
529,surt,31.21,16.59,79.358,68.0,0,2.12,LY,City Hotel

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
#copy the ideal DF
hotel = ideal.copy()
#creating the info box for the markers
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotelinfo = [info_box_template.format(**row) for index, row in hotel.iterrows()]
#grabbing the lat and lng for the Map
locations = hotel[["Latitude", "Longitude"]]
hotel

,City,Latitude,Longitude,Max Tempurature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Hotel Name
2,nouadhibou,20.93,-17.03,73.400,78.0,0,8.70,MR,El Medina
3,rikitea,-23.12,-134.97,70.790,76.0,0,5.92,PF,Pension Maro'i
19,gat,31.61,34.76,78.998,39.0,0,0.45,IL,רגע בנחת
41,aranjuez,40.03,-3.60,78.008,27.0,0,5.70,ES,Occidental Aranjuez
55,nador,35.17,-2.93,78.800,39.0,0,5.70,MA,Hôtel La Giralda
145,san julian,21.02,-102.17,74.498,48.0,0,2.19,MX,La Nueva España
172,charagua,-19.80,-63.22,73.238,38.0,0,2.54,BO,Residencial Luismar
213,celaya,20.52,-100.82,78.008,37.0,0,1.79,MX,Wyndham Garden Celaya
249,naze,28.37,129.48,77.000,100.0,0,1.00,JP,奄美ポートタワーホテル
274,abu samrah,35.30,37.18,71.114,52.0,0,4.33,SY,
277,karatau,43.17,70.47,70.304,25.0,0,0.06,KZ,Gor.bol'nitsa
319,maniwaki,46.38,-75.97,77.774,53.0,0,2.60,CA,Centre Chateau Logue
392,coruripe,-10.13,-36.18,73.166,88.0,0,3.34,BR,Pousada e Hotel Litoral Sul
415,villamontes,-21.25,-63.50,71.006,33.0,0,1.97,BO,Hotel Raldes
424,lagoa,39.05,-27.98,73.562,88.0,0,8.98,PT,Casa Das Faias
428,tiznit,29.58,-9.50,71.528,39.0,0,0.66,MA,
444,urumqi,43.80,87.60,71.600,40.0,0,5.00,CN,Hua Ling Grand Hotel Urumqi
475,sorong,-0.88,131.25,77.306,86.0,0,3.58,ID,The Waigo Hotel
497,yabrud,33.97,36.66,73.400,69.0,0,7.20,SY,صالون مها حيدر - Salon Maha
529,surt,31.21,16.59,79.358,68.0,0,2.12,LY,City Hotel

In [19]:
# Creating the markers
marker = gmaps.marker_layer(locations, info_box_content = hotelinfo)
# Add marker layer ontop of heat map
fig.add_layer(marker)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))